body {
    text-align: center;
    background: rgb(0, 0, 109);
    font-family: 'Noto Sans', sans-serif;
}

img {
    position: absolute;
    top: 1%;
    left: 10px;
    border: none;
    width: 2%;
    z-index: 1;
}

.texto {
    position: absolute;
    display: flex;
    width: 72%;
    margin-top: 2%;
    margin-left: 13%;
    justify-content: center;
    align-items: center;
    background: rgb(5, 39, 66);
}

h1 {
    text-align: center;
    color: #21bfca;
    font-size: 200%;
    flex-wrap: wrap;
}