@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background: rgb(0, 0, 109);
}

h1 {
    flex-wrap: wrap;
    font-size: 200%;
    text-align: center;
    color: rgb(33, 191, 202);
}

.texto {
    display: flex;
    position: absolute;
    width: 72%;
    padding: 2%;
    margin-top: 2%;
    margin-left: 13%;
    justify-content: center;
    align-items: center;
    background: rgb(5, 39, 66);
}

p {
    flex-wrap: wrap;
    font-weight: bolder;
    color: rgb(245, 245, 220);
}

img {
    position: absolute;
    top: 1%;
    left: 10px;
    width: 2%;
    border: none;
    z-index: 1;
}