*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../imgs/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.comteiner .slide-conteiner .slide{
    padding: 0;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    min-width: 50;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.comteiner{
    background: rgba(0, 0, 0, 0.479);
}


@keyframes slide-conteiner{0%
{
    opacity: 0;
    transform: translateX(-50px);
}
}

.comteiner .slide-conteiner .slide h3{
    padding: 10px 9%;
    font-size: 30px;
    color: rgb(26, 147, 247);
    font-family: 'Noto Sans', sans-serif;
    margin-left: 20%;
}

.comteiner .slide-conteiner .slide p{
    padding: 5px 9%;
    font-size: 13px;
    color: #ffff;
    font-family: 'Noto sans', sans-serif;
    width: 40%;
    height: 10%; 
    margin-left: 20%;
 
}

 .comteiner .slide-conteiner .slide .cont .botao{
    padding: 10px 9%;
    margin-top: 10px;
    display: inline-block;
    background: rgb(52, 48, 255);
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid rgb(1, 1, 122);
    font-family: Noto sans, sans-serif;
    text-decoration: none;
    color: #ffff;
    margin-left: 28.6%;
}

.comteiner .slide-conteiner .slide .cont .botao:hover{
    background: rgb(55, 0, 255);
    border: rgb(55, 0, 255);
    color: #ffff;
}

.comteiner .slide-conteiner{
    display: none;
    padding: 0;
}

.comteiner .slide-conteiner.active{
    display: block;
}

.comteiner .slide-conteiner:nth-child(1) .slide{
    flex: 1 1 50%;
    animation: slide-conteiner .4s linear .4s backwards;
    position: relative;       
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: auto;
    background: rgba(0, 0, 0, 0.856);

}

.comteiner .slide-conteiner:nth-child(2) .slide{
    position: relative;
    flex: 1 1 50%;
    animation: slide-conteiner .4s linear .4s backwards;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: auto;
    background:rgba(0, 0, 0, 0.856);
}

.comteiner .slide-conteiner:nth-child(3) .slide{
    flex: 1 1 50%;
    animation: slide-conteiner .4s linear .4s backwards;
    position: relative;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: auto;
    background: rgba(0, 0, 0, 0.856);
}

.comteiner .slide-conteiner:nth-child(4) .slide{
    flex: 1 1 50%;
    animation: slide-conteiner .4s linear .4s backwards;
    position: relative;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: auto;
    background: rgba(0, 0, 0, 0.856);
}


.comteiner #ceta_e,
.comteiner #ceta_d{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffff;
    width: 60px;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.comteiner #ceta_e:hover,
.comteiner #ceta_d:hover{
    background:  rgb(26, 147, 247);;
}

.comteiner #ceta_e{
    left:  5%;
}

.comteiner #ceta_d{
    right: 5%;
}

@media(max-width: 500px){
    .comteiner #ceta_e{
        top: 60%;
        left: 60%;
    }

    .comteiner #ceta_d{
        top: 60%;
        right: 0;
    }

    .comteiner .slide-conteiner .slide .cont p{
        font-size: 16px;
        color: #ffff;
        font-family: 'Noto Sans', sans-serif;
        width: 70%;
        height: 10%;

    }
}
img {
    position: absolute;
    top: 1%;
    left: 10px;
    border: none;
    width: 2%;
    z-index: 1;
}